<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cis.sensational">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.BubblesGame.BubbleMiddle2Activity"></activity>
        <activity android:name=".Controller.BubblesGame.BubblesEndActivity" />
        <activity android:name=".Controller.BubblesGame.BubblesMiddleActivity" />
        <activity android:name=".Controller.Colorize.ColorizeMainActivity" />
        <activity android:name=".Controller.Colorize.ColorizeEndActivity" />
        <activity android:name=".Controller.Colorize.ColorizeInstructionsActivity" />
        <activity android:name=".Controller.Calming.CalmingActivity" />
        <activity android:name=".Controller.Calming.CalmingMode1Activity" />
        <activity android:name=".Controller.Calming.CalmingMode2Activity" />
        <activity android:name=".Controller.Calming.CalmingMode3Activity" />
        <activity android:name=".Controller.Login.LoginActivity" />
        <activity android:name=".Controller.Login.RegisterActivity" />
        <activity android:name=".Controller.Colorize.ColorizeStartActivity" />
        <activity android:name=".Controller.BubblesGame.BubbleStartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>